*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --backgroundBlack: #121212;
    --backgroundGray: #292929;
    
    --error: #CF6679;

    --primary: #BB86FC;
    --primaryVariant: #3700B3;
    --secondary: #03DAC6;

    font-size: 16px;

}

.wrapper{
    width: 1080px;
    max-width: 90%;
    margin: 0 auto;
}

body,
html{
    background-color: white;
}

h1{
    padding: 1rem;
    font-weight: 500;
    font-size: clamp(3rem, 5vw, 4rem);
}

h2{
    padding: 1rem;
    font-weight: 400;
    font-size: clamp(2rem, 5vw, 3,5rem);
}

h3{
    padding: 1rem;
    font-weight: 300;
    font-size: clamp(1rem, 5vw, 1,5rem);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--backgroundBlack);
}

.menu{
    display: flex;
    justify-content: space-evenly;
}

.menu-button{
    font-size: 0.7rem;
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--backgroundBlack);
    color: white;
    border: white solid 1px;
}

.menu-button:hover{
    background-color:var(--secondary);
    color: black;
}

.call-to-action-button{
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    background-color:var(--secondary);
    color: black;
    border: black solid 1px;
}


.logo{
    min-width: 2rem;
    min-height: 2rem;
    height: 2rem;
    width: 2rem;
    border: white solid 1px;
    margin: 1rem;
}

.hamburger{
    min-width: 2rem;
    min-height: 2rem;
    height: 2rem;
    width: 2rem;
    border: white solid 1px;
    margin: 1rem;
    display: none;
}

.logo:hover{
    background-color:var(--secondary);
}

.hamburger:hover{
    background-color:var(--secondary);
}

.header-background{
    background-color:var(--backgroundBlack);
}




/*
hero section
*/

.hero-section{
    background-color:var(--backgroundBlack);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}





.about-us-section{
    background-color:var(--backgroundBlack);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}





.call-to-action{
    color: white;
    margin: 2rem;
}

.hero-image{
    height: 35vh;
    width: 35vh;
    margin: 2rem;
}

.about-us-image{
    height: 35vh;
    width: 35vh;
    margin: 2rem;
}







@media only screen and (max-width: 1080px) {
    .hero-section{
        display:flex;
        flex-direction: column-reverse;

    }

    .hero-image{
        height: 30vh;
        width: 30vh;
        margin: 2rem;
    }

    .about-us-section{
        display:flex;
        flex-direction: column;
    }

    .about-us-image{
        height: 30vh;
        width: 30vh;
        margin: 2rem;
    }

    .menu-section{
       display: none;
    }

    .hamburger{
        display: unset;
    }
}